## Pandas

Mit Pandas können wir Daten analysieren die in Tabellarischer Form vorzufinden sind

Formate: XML, JSON, CSV, SQL, ...

Wir können in Folge auch unsere Daten visualisieren in verschiedensten Diagrammformen (mithilfe mit matplotlib)
- Bar Chart
- Line Chart
- Pie Chart
- Scatterplot
- ...

In [1]:
import pandas as pd
import numpy as np

## Serie

Eine Serie ist eine Liste von Werten

Eine Serie kann noch extra Eigenschaften haben im Gegensatz zu List oder Numpy Array

In [2]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
einwohnerM = pd.Series([9, 83.7, 8.6, 0.38])

In [4]:
einwohnerM

0     9.00
1    83.70
2     8.60
3     0.38
dtype: float64

In [10]:
einwohnerM.values  # Unterliegendes Array anschauen

array([ 9.  , 83.7 ,  8.6 ,  0.38])

In [8]:
type(einwohnerM.values)

numpy.ndarray

In [11]:
einwohnerM.name = "Einwohnerzahlen Europa in Mio."

In [12]:
einwohnerM

0     9.00
1    83.70
2     8.60
3     0.38
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [14]:
einwohnerM[1]  # Serie hat einen Index

83.7

In [15]:
einwohnerM.index = ["AT", "DE", "CH", "LI"]

In [16]:
einwohnerM

AT     9.00
DE    83.70
CH     8.60
LI     0.38
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [18]:
einwohnerM.astype(np.float16)  # Genauigkeit geht verloren

AT     9.000000
DE    83.687500
CH     8.601562
LI     0.379883
Name: Einwohnerzahlen Europa in Mio., dtype: float16

In [19]:
einwohnerM.sort_values()

LI     0.38
CH     8.60
AT     9.00
DE    83.70
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [20]:
einwohnerM.sort_index()

AT     9.00
CH     8.60
DE    83.70
LI     0.38
Name: Einwohnerzahlen Europa in Mio., dtype: float64

Es kann auch aus einem Python Dict eine Serie erstellt werden

In [21]:
pd.Series({"AT": 9, "DE": 83.7, "CH": 8.6, "LI": 0.38})

AT     9.00
DE    83.70
CH     8.60
LI     0.38
dtype: float64

In [22]:
pd.Series({"AT": 9, "DE": 83.7, "CH": 8.6, "LI": 0.38}, name="Einwohnerzahlen Europa in Mio.", dtype=np.float32)

AT     9.000000
DE    83.699997
CH     8.600000
LI     0.380000
Name: Einwohnerzahlen Europa in Mio., dtype: float32

Durch einen Alphabetischen Index können wir jetzt per Text auf die einzelnen Elemente zugreifen

In [23]:
einwohnerM["AT"]

9.0

In [24]:
einwohnerM[0]

9.0

Mehrere Elemente gleichzeitig auswählen (wie bei Numpy)

In [25]:
einwohnerM[["AT", "DE"]]

AT     9.0
DE    83.7
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [26]:
einwohnerM["AT": "CH"]  # Obergrenze ist hier inkludiert (nur bei Textindex)

AT     9.0
DE    83.7
CH     8.6
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [28]:
einwohnerM[0: 2]  # Hier ist die Obergrenze nicht inkludiert

AT     9.0
DE    83.7
Name: Einwohnerzahlen Europa in Mio., dtype: float64

## Vektorisierung

Funktion auch hier wie bei Numpy

In [29]:
einwohnerM < 10

AT     True
DE    False
CH     True
LI     True
Name: Einwohnerzahlen Europa in Mio., dtype: bool

In [30]:
einwohnerM[einwohnerM < 10]

AT    9.00
CH    8.60
LI    0.38
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [31]:
einwohnerM[einwohnerM > 10]

DE    83.7
Name: Einwohnerzahlen Europa in Mio., dtype: float64

In [33]:
einwohnerM[(einwohnerM < einwohnerM.mean()) & (einwohnerM > 5)]

AT    9.0
CH    8.6
Name: Einwohnerzahlen Europa in Mio., dtype: float64

## DataFrame

Effektiv eine Tabelle (CSV, SQL), zweidimensional

Hier ist es sinnvoll eine CSV-Datei oder eine SQL-Tabelle zu laden

DataFrames können auch per Hand erstellt werden mit dem Befehl:

> pd.DataFrame({"Spalte1": [1, 2, 3], "Spalte2": [4, 5, 6], "Spalte3": [7, 8, 9]})

In [34]:
pd.DataFrame({"Spalte1": [1, 2, 3], "Spalte2": [4, 5, 6], "Spalte3": [7, 8, 9]})

   Spalte1  Spalte2  Spalte3
0        1        4        7
1        2        5        8
2        3        6        9

Es gibt verschiedene Methoden um Daten einzulesen

Wir fangen an mit der read_csv Methode

## read_csv

Hier ist es wichtig den Delimiter anzugeben (Standard: Komma) und Dezimal- und Tausendertrennzeichen.

Es gibt noch weitere nützliche Optionen:
- Header ignorieren: header=None
- Datumswerte parsen: parse_dates=True
- Indexspalte setzen: index_col=Spaltenname oder Spaltenindex

In [134]:
data = pd.read_csv("Data\PopulationData.csv", delimiter=";", decimal=".", thousands=",", index_col="#")

In [48]:
data

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [50]:
data.info()  # Informationen über Datentypen der Spalten anzuzeigen

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235 entries, 1 to 235
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population(2020)         235 non-null    int64
 2   YearlyChange             235 non-null    object
 3   NetChange                235 non-null    int64
 4   Density(P/Km²)           235 non-null    int64
 5   Land Area(Km²)           235 non-null    int64
 6   Migrants(net)            201 non-null    float64
 7   Fert.Rate                235 non-null    object
 8   Med.Age                  235 non-null    object
 9   UrbanPop %               235 non-null    object
 10  WorldShare               235 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 22.0+ KB

In [56]:
data.head()  # Obersten 5 Datensätze

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
11,Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
12,Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
13,Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
15,Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
17,Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
19,Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
20,Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [57]:
data.tail()  # Untersten 5 Datensätze

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [58]:
data.head(20)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
11,Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
12,Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
13,Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
15,Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
17,Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
19,Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
20,Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [59]:
data.describe()

,Population(2020),NetChange,Density(P/Km²),Land Area(Km²),Migrants(net)
count,2.350000e+02,2.350000e+02,235.000000,2.350000e+02,201.000000
mean,3.317120e+07,3.461058e+05,478.408511,5.535918e+05,-5.442786
std,1.351370e+08,1.128255e+06,2331.282424,1.687796e+06,123292.057588
min,8.010000e+02,-3.838400e+05,0.000000,0.000000e+00,-653249.000000
25%,4.188015e+05,4.240000e+02,37.000000,2.545000e+03,-10047.000000
50%,5.459642e+06,3.917000e+04,95.000000,7.724000e+04,-960.000000
75%,2.057705e+07,2.496600e+05,240.000000,4.038200e+05,9741.000000
max,1.439324e+09,1.358663e+07,26337.000000,1.637687e+07,954806.000000

In [65]:
data.loc[1]  # loc: Zeile anzeigen

Country (or dependency)         China
Population(2020)           1439323776
YearlyChange                   0.39 %
NetChange                     5540090
Density(P/Km²)                    153
Land Area(Km²)                9388211
Migrants(net)               -348399.0
Fert.Rate                         1.7
Med.Age                            38
UrbanPop %                       61 %
WorldShare                    18.47 %
Name: 1, dtype: object

In [66]:
type(data.loc[1])

pandas.core.series.Series

In [68]:
data.loc[:20]
# data.head(20)

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
7,Nigeria,206139589,2.58 %,5175990,226,910770,-60000.0,5.4,18,52 %,2.64 %
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,28,39 %,2.11 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
11,Japan,126476461,-0.30 %,-383840,347,364555,71560.0,1.4,48,92 %,1.62 %
12,Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,19,21 %,1.47 %
13,Philippines,109581078,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %
14,Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,25,43 %,1.31 %
15,Vietnam,97338579,0.91 %,876473,314,310070,-80000.0,2.1,32,38 %,1.25 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
17,Turkey,84339067,1.09 %,909452,110,769630,283922.0,2.1,32,76 %,1.08 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
19,Germany,83783942,0.32 %,266897,240,348560,543822.0,1.6,46,76 %,1.07 %
20,Thailand,69799978,0.25 %,174396,137,510890,19444.0,1.5,40,51 %,0.90 %

In [72]:
data.loc[:20, ["Country (or dependency)", "Population(2020)"]]  # bei loc können auch nur bestimmte Spalten genommen werden

   Country (or dependency)  Population(2020)
#
1                    China        1439323776
2                    India        1380004385
3            United States         331002651
4                Indonesia         273523615
5                 Pakistan         220892340
6                   Brazil         212559417
7                  Nigeria         206139589
8               Bangladesh         164689383
9                   Russia         145934462
10                  Mexico         128932753
11                   Japan         126476461
12                Ethiopia         114963588
13             Philippines         109581078
14                   Egypt         102334404
15                 Vietnam          97338579
16                DR Congo          89561403
17                  Turkey          84339067
18                    Iran          83992949
19                 Germany          83783942
20                Thailand          69799978

In [77]:
data.iloc[1:3]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %

Nachdem alle Spalten selbst Serien sind, können wir auch boolsche Logik benutzen um Zeilen zu filtern

In [78]:
data["Land Area(Km²)"] > 1000000

#
1       True
2       True
3       True
4       True
5      False
       ...
231    False
232    False
233    False
234    False
235    False
Name: Land Area(Km²), Length: 235, dtype: bool

In [87]:
x = data[data["Land Area(Km²)"] > 1000000]  # Hier das Resultat der boolean Abfrage in die Tabelle zurück geben

## Sortierung

Ergebnisse mit der sort_values Funktion sortieren

Hier gibt es ein paar Felder die mit angegeben werden können:

1. Spalte nach der sortiert wird, Liste auch möglich für sekundäre/tertiäre Sortierung
2. ascending=True/False (standard True)
3. inplace=True/False (standard False) --> Sortierung wird auch das Datenset angewandt

In [90]:
x.sort_values("Land Area(Km²)", ascending=False, inplace=True)

C:\Users\lk3\AppData\Local\Temp\ipykernel_6544\3303655936.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.sort_values("Land Area(Km²)", ascending=False, inplace=True)

In [91]:
x

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
39,Canada,37742154,0.89 %,331107,4,9093510,242032.0,1.5,41,81 %,0.48 %
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
32,Argentina,45195774,0.93 %,415097,17,2736690,4800.0,2.3,32,93 %,0.58 %
64,Kazakhstan,18776707,1.21 %,225280,7,2699700,-18000.0,2.8,31,58 %,0.24 %
33,Algeria,43851044,1.85 %,797990,18,2381740,-10000.0,3.1,29,73 %,0.56 %
16,DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,17,46 %,1.15 %
41,Saudi Arabia,34813871,1.59 %,545343,16,2149690,134979.0,2.3,32,84 %,0.45 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
34,Sudan,43849260,2.42 %,1036022,25,1765048,-50000.0,4.4,20,35 %,0.56 %
108,Libya,6871292,1.38 %,93840,4,1759540,-1999.0,2.3,29,78 %,0.09 %
18,Iran,83992949,1.30 %,1079043,52,1628550,-55000.0,2.2,32,76 %,1.08 %
136,Mongolia,3278290,1.65 %,53123,2,1553560,-852.0,2.9,28,67 %,0.04 %
43,Peru,32971854,1.42 %,461401,26,1280000,99069.0,2.3,31,79 %,0.42 %
56,Niger,24206644,3.84 %,895929,19,1266700,4000.0,7.0,15,17 %,0.31 %
72,Chad,16425864,3.00 %,478988,13,1259200,2000.0,5.8,17,23 %,0.21 %
44,Angola,32866272,3.27 %,1040977,26,1246700,6413.0,5.6,17,67 %,0.42 %
60,Mali,20250833,3.02 %,592802,17,1220190,-40000.0,5.9,16,44 %,0.26 %
25,South Africa,59308690,1.28 %,750420,49,1213090,145405.0,2.4,28,67 %,0.76 %
29,Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,31,80 %,0.65 %
80,Bolivia,11673021,1.39 %,159921,11,1083300,-9504.0,2.8,26,69 %,0.15 %
127,Mauritania,4649658,2.74 %,123962,5,1030700,5000.0,4.6,20,57 %,0.06 %

In [92]:
x["Population(2020)"] > 100_000_000

#
9       True
1       True
3       True
39     False
6       True
55     False
2       True
32     False
64     False
33     False
16     False
41     False
10      True
4       True
34     False
108    False
18     False
136    False
43     False
56     False
72     False
44     False
60     False
25     False
29     False
80     False
127    False
Name: Population(2020), dtype: bool

In [94]:
x[x["Population(2020)"] > 100_000_000].sort_values("Country (or dependency)")

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
6,Brazil,212559417,0.72 %,1509890,25,8358140,21200.0,1.7,33,88 %,2.73 %
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
10,Mexico,128932753,1.06 %,1357224,66,1943950,-60000.0,2.1,29,84 %,1.65 %
9,Russia,145934462,0.04 %,62206,9,16376870,182456.0,1.8,40,74 %,1.87 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %

## Spalten entfernen

Spalten oder Zeilen können auch aus dem DataFrame entfernt werden, wenn sie nicht wichtig sind

Wichtig: Ergebnisse der drop() Funktion geben ein neues DataFrame zurück -> Zuweisung um Änderungen zu übernehmen oder inplace benutzen

In [96]:
data[50:]

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
51,Madagascar,27691018,2.68 %,721711,48,581795,-1500.0,4.1,20,39 %,0.36 %
52,Cameroon,26545863,2.59 %,669483,56,472710,-4800.0,4.6,19,56 %,0.34 %
53,Côte d'Ivoire,26378274,2.57 %,661730,83,318000,-8000.0,4.7,19,51 %,0.34 %
54,North Korea,25778816,0.44 %,112655,214,120410,-5403.0,1.9,35,63 %,0.33 %
55,Australia,25499884,1.18 %,296686,3,7682300,158246.0,1.8,38,86 %,0.33 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [101]:
data.index  # Die Index Spalte auswählen, die Indexspalte ist keine Spalte per se mehr nachdem sie als Index deklariert wurde

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            226, 227, 228, 229, 230, 231, 232, 233, 234, 235],
           dtype='int64', name='#', length=235)

In [107]:
data.drop(data.index[3:232])

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [110]:
data.drop(columns=["WorldShare", "Fert.Rate", "Med.Age"])

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),UrbanPop %
#,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,61 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,35 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,83 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,56 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,35 %
...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,10 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,66 %
233,Niue,1626,0.68 %,11,6,260,NaN,46 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,0 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.

## Daten anpassen

Oftmals müssen Daten angepasst werden um Analyse damit zu ermöglichen z.B.: NaN, N.A., Prozente bei Zahlen, etc.

In [113]:
data["Med.Age"] = 30  # Hier werden die Daten tatsächlich geändert

In [114]:
data

,Country (or dependency),Population(2020),YearlyChange,NetChange,Density(P/Km²),Land Area(Km²),Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,30,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,30,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,30,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,30,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,30,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,30,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,30,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,30,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,30,N.A.,0.00 %

## Spalten umbenennen

Zum Umbenennen einer Spalte gibt es die rename() Funktion. Diese Funktion braucht ein Dict das über den columns Parameter übergeben.

In [117]:
data.rename(columns = {"Population(2020)": "Pop"}, inplace=True)

In [119]:
data.rename(columns = {"Land Area(Km²)": "Area", "Country (or dependency)": "Country"}, inplace=True)

In [120]:
data

,Country,Pop,YearlyChange,NetChange,Density(P/Km²),Area,Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare
#,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,30,61 %,18.47 %
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,30,35 %,17.70 %
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,30,83 %,4.25 %
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,30,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,30,10 %,0.00 %
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,30,66 %,0.00 %
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,30,46 %,0.00 %
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,30,0 %,0.00 %
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,30,N.A.,0.00 %

## Neue Spalten hinzufügen

Spalten die berechnet werden sind ein gutes Beispiel für extra Spalten

In [123]:
data["Pop/Area"] = round(data["Pop"] / data["Area"], 2)

In [124]:
data

,Country,Pop,YearlyChange,NetChange,Density(P/Km²),Area,Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare,Pop/Area
#,,,,,,,,,,,,
1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,30,61 %,18.47 %,153.31
2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,30,35 %,17.70 %,464.15
3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,30,83 %,4.25 %,36.19
4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99
5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,30,35 %,2.83 %,286.55
...,...,...,...,...,...,...,...,...,...,...,...,...
231,Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,30,10 %,0.00 %,49.92
232,Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,30,66 %,0.00 %,0.29
233,Niue,1626,0.68 %,11,6,260,NaN,N.A.,30,46 %,0.00 %,6.25
234,Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,30,0 %,0.00 %,135.70
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,30,N.A.,0.00 %,inf

In [127]:
data.sort_values("Pop/Area", ascending=False)[0:10]

,Country,Pop,YearlyChange,NetChange,Density(P/Km²),Area,Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare,Pop/Area
#,,,,,,,,,,,,
235,Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,30,N.A.,0.00 %,inf
214,Monaco,39242,0.71 %,278,26337,1,NaN,N.A.,30,N.A.,0.00 %,39242.00
167,Macao,649335,1.39 %,8890,21645,30,5000.0,1.2,30,N.A.,0.01 %,21644.50
114,Singapore,5850342,0.79 %,46005,8358,700,27028.0,1.2,30,N.A.,0.08 %,8357.63
104,Hong Kong,7496981,0.82 %,60827,7140,1050,29308.0,1.3,30,N.A.,0.10 %,7139.98
219,Gibraltar,33691,-0.03 %,-10,3369,10,NaN,N.A.,30,N.A.,0.00 %,3369.10
152,Bahrain,1701575,3.68 %,60403,2239,760,47800.0,2.0,30,89 %,0.02 %,2238.91
174,Maldives,540544,1.81 %,9591,1802,300,11370.0,1.9,30,35 %,0.01 %,1801.81
175,Malta,441543,0.27 %,1171,1380,320,900.0,1.5,30,93 %,0.01 %,1379.82
8,Bangladesh,164689383,1.01 %,1643222,1265,130170,-369501.0,2.1,30,39 %,2.11 %,1265.19

## Index setzen

Standardmäßig gibt Pandasa jedem DataFrame eine neue Zahl als Index.

Wir können auch eine Spalte selber als Index setzen.

In [130]:
data.set_index("Country", inplace=True)

In [131]:
data["China": "Pakistan"]

,Pop,YearlyChange,NetChange,Density(P/Km²),Area,Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare,Pop/Area
Country,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,30,61 %,18.47 %,153.31
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,30,35 %,17.70 %,464.15
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,30,83 %,4.25 %,36.19
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %,150.99
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,30,35 %,2.83 %,286.55

In [133]:
data.sort_index()["China": "France"]

,Pop,YearlyChange,NetChange,Density(P/Km²),Area,Migrants(net),Fert.Rate,Med.Age,UrbanPop %,WorldShare,Pop/Area
Country,,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,30,61 %,18.47 %,153.31
Colombia,50882891,1.08 %,543448,46,1109500,204796.0,1.8,30,80 %,0.65 %,45.86
Comoros,869601,2.20 %,18715,467,1861,-2000.0,4.2,30,29 %,0.01 %,467.28
Congo,5518087,2.56 %,137579,16,341500,-4000.0,4.5,30,70 %,0.07 %,16.16
Cook Islands,17564,0.09 %,16,73,240,NaN,N.A.,30,75 %,0.00 %,73.18
Costa Rica,5094118,0.92 %,46557,100,51060,4200.0,1.8,30,80 %,0.07 %,99.77
Croatia,4105267,-0.61 %,-25037,73,55960,-8001.0,1.4,30,58 %,0.05 %,73.36
Cuba,11326616,-0.06 %,-6867,106,106440,-14400.0,1.6,30,78 %,0.15 %,106.41
Curaçao,164093,0.41 %,669,370,444,515.0,1.8,30,89 %,0.00 %,369.58
Cyprus,1207359,0.73 %,8784,131,9240,5000.0,1.3,30,67 %,0.02 %,130.67
Czech Republic (Czechia),10708981,0.18 %,19772,139,77240,22011.0,1.6,30,74 %,0.14 %,138.65
Côte d'Ivoire,26378274,2.57 %,661730,83,318000,-8000.0,4.7,30,51 %,0.34 %,82.95
DR Congo,89561403,3.19 %,2770836,40,2267050,23861.0,6.0,30,46 %,1.15 %,39.51
Denmark,5792202,0.35 %,20326,137,42430,15200.0,1.8,30,88 %,0.07 %,136.51
Djibouti,988000,1.48 %,14440,43,23180,900.0,2.8,30,79 %,0.01 %,42.62
Dominica,71986,0.25 %,178,96,750,NaN,N.A.,30,74 %,0.00 %,95.98
Dominican Republic,10847910,1.01 %,108952,225,48320,-30000.0,2.4,30,85 %,0.14 %,224.50
Ecuador,17643054,1.55 %,269392,71,248360,36400.0,2.4,30,63 %,0.23 %,71.04
Egypt,102334404,1.94 %,1946331,103,995450,-38033.0,3.3,30,43 %,1.31 %,102.80
El Salvador,6486205,0.51 %,32652,313,20720,-40539.0,2.1,30,73 %,0.08 %,313.04
Equatorial Guinea,1402985,3.47 %,46999,50,28050,16000.0,4.6,30,73 %,0.02 %,50.02
Eritrea,3546421,1.41 %,49304,35,101000,-39858.0,4.1,30,63 %,0.05 %,35.11
Estonia,1326535,0.07 %,887,31,42390,3911.0,1.6,30,68 %,0.02 %,31.29
Eswatini,1160164,1.05 %,12034,67,17200,-8353.0,3.0,30,30 %,0.01 %,67.45
Ethiopia,114963588,2.57 %,2884858,115,1000000,30000.0,4.3,30,21 %,1.47 %,114.96
Faeroe Islands,48863,0.38 %,185,35,1396,NaN,N.A.,30,43 %,0.00 %,35.00
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,30,66 %,0.00 %,0.29
Fiji,896445,0.73 %,6492,49,18270,-6202.0,2.8,30,59 %,0.01 %,49.07
Finland,5540720,0.15 %,8564,18,303890,14000.0,1.5,30,86 %,0.07 %,18.23
France,65273511,0.22 %,143783,119,547557,36527.0,1.9,30,82 %,0.84 %,119.21

## Verschiedene Werte zählen

Mit der Funktion value_counts() können wir die verschiedenen Werte in einer Spalte zählen.

In [135]:
data["Med.Age"].value_counts()

N.A.    34
19      14
28      12
43      11
32      11
42      10
18      10
20       9
30       8
38       7
26       7
40       7
22       7
24       6
17       6
34       6
31       6
45       5
21       5
29       5
41       5
44       5
33       5
23       4
25       4
27       4
37       4
36       4
35       3
46       3
39       3
47       2
15       1
16       1
48       1
Name: Med.Age, dtype: int64

## Gruppierung

Bei der Ermittlung von Werten aus Mengen werden oft Gruppierungen verwendet. Dafür gibt es in Pandas die Funktion groupby(). Diese Funktion erzeugt Gruppen anhand eines Kriteriums (z.B.: Jahreszahlen -> 2011, 2012, 2013, 2014, ... -> 2011er Gruppe, 2012er Gruppe, ...)

Aufgaben die mit groupby() zu lösen sind, werden oft mit "pro" angegeben (pro Jahr, pro Land, pro Kunde)

Mit der get_group() Funktion können wir eine einzelne Gruppe ansehen

In [141]:
g = data.groupby("Med.Age")  # Pro Alter eine Gruppe mit den Datensätzen (15er Gruppe, 17er Gruppe, 19er Gruppe, N.A. Gruppe)
g.get_group("19")
g.get_group("19")["Population(2020)"].mean()  # Mittelwert einer einzelnen Gruppe

g.mean()  # Mittelwerte aller Gruppen auf alle Spalten
g["Population(2020)"].mean()  # Mittelwerte aller Gruppen auf einzelne Spalten

C:\Users\lk3\AppData\Local\Temp\ipykernel_6544\1457841951.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.mean()  # Mittelwert aller Gruppen auf alle Spalten

Med.Age
15      2.420664e+07
16      2.025083e+07
17      3.539643e+07
18      4.148540e+07
19      1.824118e+07
20      1.939652e+07
21      9.621932e+06
22      7.686515e+06
23      6.028827e+07
24      7.213284e+06
25      3.304188e+07
26      2.510786e+07
27      2.088666e+06
28      1.398790e+08
29      4.693030e+07
30      4.894655e+07
31      1.847800e+07
32      3.284957e+07
33      4.789470e+07
34      3.726593e+06
35      1.595275e+07
36      2.161582e+06
37      1.772735e+06
38      2.590871e+08
39      1.120258e+06
40      4.277205e+07
41      1.942832e+07
42      1.717237e+07
43      7.631299e+06
44      1.210433e+07
45      1.320029e+07
46      3.480124e+07
47      3.041855e+07
48      1.264765e+08
N.A.    3.333179e+04
Name: Population(2020), dtype: float64

## Einzigartige Werte finden

In [143]:
data["Med.Age"].unique()

array(['38', '28', '30', '23', '33', '18', '40', '29', '48', '19', '26',
       '25', '32', '17', '46', '42', '47', '20', '44', '31', '45', '41',
       '21', '22', '35', '15', '34', '16', '43', '24', '27', '37', '36',
       '39', 'N.A.'], dtype=object)